.head {
  background-color: #101820;
  color: #fee715;
  margin-top: 1rem;
  border-radius: 10px 10px 0 0;
}

.head h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 1.7rem;
}

.taskList {
  height: max-content;
  background-color: #101820;
  color: #fee715;
  margin-top: 7px;
  border-radius: 0 0 10px 10px;
}

.task {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-inline: 3rem 1rem;
  font-weight: 600;
  user-select: none;
  transition: all 300ms ease-in-out;
  display: flex;
  text-decoration: none;
}

.task:hover {
  background-color: #fee715;
  color: #101820;
  cursor: pointer;
}

.buttons a i {
  width: 20px;
  height: 20px;
  transition: transform 150ms ease-in-out;
}

.buttons a {
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  line-height: 10px;
  text-align: center;
}

.buttons a:active i {
  transform: scale(0.85);
}

.buttons {
  margin-left: auto;
}
